input:-webkit-autofill {
    background-color: transparent;
    color: white;
}
.input-form {
    font-family: 'Noto Sans', sans-serif;
}
.input-form input:not(#checkbox) {   
    border: 1px solid rgba(255, 255, 255, 0.836);
    color: white;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
#checkbox {
    margin-bottom: 2rem;
}
.input-form label{
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 0 0.5rem;
}
.input-form label a {
    text-decoration: none;
    color: cyan;
}
.input-form label a:hover {
    text-decoration: underline;
}
.input-form input::placeholder{
    color: rgba(255, 255, 255, 0.781);
}
.input-form .alert-validate {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    color: rgb(248, 52, 52);
    line-height: 10px;
}
.input-form .snack-bar-container {
    position: fixed;
}