.loading-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.loading-screen h2 {
    color: #7894FF;
    font-size: 2rem;
}